<html>
	<head>
		<meta charset="UTF-8">
		<title>Anuncio</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h1>Anuncio</h1>
			
			<hr>
			
			<p><strong>Nombre:</strong> {{anuncio.nombre}}</p>
			<p><strong>Asunto:</strong> {{anuncio.asunto}}</p>
			<p><strong>Comentario:</strong> {{anuncio.comentario}}</p>
			
			<br>
			<a href="/">Volver al Tablón de Anuncios</a>
		
		</div>
	</body>
</html>