#las carpetas o ficheros que ignora git

/.classpath
/.project
/.settings/
/bin/
/Entidades/nbproject/private/
/AccesoDatos/nbproject/private/
/EjemploMVC/nbproject/private/
/LogicaNegocio/nbproject/private/
/PresentacionConsola/nbproject/private/
/EjemploServidor/nbproject/private/
/EjemploDB/nbproject/private/
/DBPrueba/nbproject/private/
/EjemploPOO/nbproject/private/